<link rel="stylesheet" href="./header.css">
   
<header class="header">
    <img class="header__img" alt="Logo" src="/Logo.png"/>
    <nav class="header__nav">
        <img class="header__nav img" alt="Location" src="/Location.png"/>
        <p class="header__nav text">Санкт-Петербург</p>
    </nav>
</header>
